[user]
	name = Gadzhi Kharkharov
	email = me@kkga.me
[core]
	excludesfile = /Users/kkga/.gitignore
	editor = nvim
	pager = delta
[alias]
	a = add
	c = commit
	co = checkout
	b = branch
	s = status
	sl = status --long
	l = log --oneline
	d = diff
	dt = difftool --no-symlinks --dir-diff
[color]
	ui = auto
[status]
	short = true
[push]
	default = simple
[pull]
	rebase = false
[log]
	date = format:%Y-%m-%d %H:%M:%S %z (%A)
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = kitty
	guitool = kitty.gui
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = ansi-light
	; features = side-by-side line-numbers decorations
	; whitespace-error-style = 22 reverse
; [delta "decorations"]
; 	commit-decoration-style = bold yellow box ul
; 	file-style = bold yellow ul
; 	file-decoration-style = none
