@define-color background  rgba(0,0,0,0.75);
@define-color foreground  #a8a8a8;
@define-color bg-highlight #5F5F87;
@define-color bg-dim      rgba(255,255,255,0.2);
@define-color border      rgba(255,255,255,0.1);
@define-color text-bright rgba(255,255,255,1);
@define-color bg-orange   rgba(255,165,0,0.2);
@define-color text-orange rgba(255,165,0,1);
@define-color bg-blue     rgba(173,216,230,0.2);
@define-color text-blue   rgba(173,216,230,1);

* {
  border: none;
  border-radius: 0;
  font-family: terminus;
  font-size: 12pt;
  min-height: 16px;
  transition: none;
}
tooltip {
  background-color: black;
}

window.DP-1 *,
window.DP-2 * {
  font-size: 14pt;
}

window.eDP-1 * {
  font-size: 12pt;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#workspaces button {
  padding: 0 2pt;
  font-weight: bold;
  margin: 0;
  color: @foreground;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button.visible {
  background: @bg-dim;
}
#workspaces button.focused {
  font-weight: bold;
  color: @text-bright;
  background: @bg-highlight;
  text-shadow: 1px 1px 0 black;
}
#workspaces button.urgent,
#battery.warning,
#pulseaudio.muted,
#cpu.warning,
#temperature.critical,
#custom-yadm,
#network.disconnected {
  color: @text-orange;
  background: @bg-orange;
}

#mode {
  font-weight: bold;
  color: @text-orange;
  background: @bg-orange;
}

#custom-vpn.connected,
#custom-tailscale.connected,
#custom-updates,
#battery.charging {
  color: @text-blue;
  background: @bg-blue;
}

#pulseaudio,
#custom-scratchpad,
#custom-usbguard,
#custom-yubikey,
#custom-decrypted,
#custom-systemd,
#custom-updates,
#custom-yadm,
#custom-mail,
#custom-vpn,
#custom-media,
#custom-weather,
#custom-tailscale,
#network,
#cpu,
#temperature,
#memory,
#backlight,
#battery,
#language,
#temperature,
#clock {
  padding: 0 4pt;
  margin: 0 4pt;
}
