@define-color background  #000;
@define-color foreground  rgba(255,255,255,0.7);
@define-color bg-dim      rgba(255,255,255,0.2);
@define-color border      rgba(255,255,255,0.1);
@define-color text-bright rgba(255,255,255,1);
@define-color bg-orange   rgba(255,165,0,0.2);
@define-color text-orange rgba(255,165,0,1);
@define-color bg-blue     rgba(173,216,230,0.2);
@define-color text-blue   rgba(173,216,230,1);

* {
  border: none;
  border-radius: 0;
  font-family: "iosevka comfy", monospace, microns;
  font-size: 11px;
  min-height: 0;
  transition: none;
}

window#waybar {
  background: @background;
  color: @foreground;
  /*  box-shadow: inset 0 1px 0 @border;
*/
}

#workspaces button {
  padding: 0 0px;
  margin: 0;
  color: @foreground;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @background;
  border: none;
}
#workspaces button.focused {
  font-weight: bold;
  background: @bg-dim;
  color: @text-bright;
}
#window {
  padding-left: 8px;
  border-left: 1px solid @bg-dim;
}

#workspaces button.urgent,
#battery.critical,
#pulseaudio.muted,
#cpu.warning,
#custom-yadm,
#network.disconnected {
  color: @text-orange;
  background: @bg-orange;
}
#mode {
  font-weight: bold;
  color: @background;
  background: @text-orange;
}

#custom-vpn.connected,
#custom-tailscale.connected,
#custom-updates,
#battery.charging {
  color: @text-blue;
  background: @bg-blue;
}

#mode,
#pulseaudio,
#custom-usbguard,
#custom-yubikey,
#custom-decrypted,
#custom-systemd,
#custom-updates,
#custom-yadm,
#custom-mail,
#custom-vpn,
#custom-media,
#custom-weather,
#custom-tailscale,
#network,
#cpu,
#memory,
#backlight,
#battery,
#language,
#temperature,
#clock {
  padding: 0 4px;
  margin: 0 4px;
}
