[Desktop Entry]
Type=Application
Name=Passwords
GenericName=Passwords
Comment=Find and copy passwords
TryExec=passmenu
Exec=passmenu
Terminal=false
StartupNotify=false
Categories=Utility;
